@charset "UTF-8";
/* login */
/*using color*/
/*using Font*/
/*mixin*/
/*reset*/
* {
  margin: 0px;
  padding: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #343434; }

html, body {
  height: 100%;
  font-size: 20px;
  color: #343434;
  animation: opaPage 0.5s linear; }

@keyframes opaPage {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
/*PC*/
/*로그인 창*/
.loginBox {
  position: absolute;
  top: calc(50% - 225px);
  left: calc(50% - 200px);
  width: 400px;
  height: 450px;
  border: 1px solid #0575e6;
  box-sizing: border-box;
  /*header*/
  /*header end*/
  /*아이디 비밀번호 입력*/
  /*아이디 비밀번호 입력 end*/ }
  .loginBox .loginHeader {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    /*닫기 버튼*/
    /*닫기 버튼 end*/
    /*로그인창 타이틀*/
    /*로그인창 타이틀 end*/ }
    .loginBox .loginHeader .closeBtn {
      position: absolute;
      top: 0px;
      left: 87.5%;
      width: 12.5%;
      height: 50%;
      line-height: 50px;
      font-size: 1.5rem;
      text-align: center;
      transition: all linear 0.1s;
      cursor: pointer; }
      .loginBox .loginHeader .closeBtn:hover {
        color: #0575e6; }
    .loginBox .loginHeader .loginTitle {
      position: absolute;
      top: 80px;
      left: 25%;
      width: 50%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Noto Sans KR", sans-serif;
      color: #0575e6; }
  .loginBox .inputBox {
    margin-left: 5%;
    width: 90%;
    /*로그인 버튼*/
    /*로그인 버튼 end*/ }
    .loginBox .inputBox .adminLogin {
      margin-top: 20px;
      width: 100%;
      height: 50px;
      font-size: 1rem;
      font-family: "Noto Sans KR", sans-serif;
      text-indent: 0.8rem;
      border: 1px solid lightgray;
      box-sizing: border-box; }
      .loginBox .inputBox .adminLogin:focus {
        outline: 2px solid #00f260; }
    .loginBox .inputBox .adminSubmit {
      margin-top: 50px;
      width: 100%;
      height: 50px;
      font-size: 1.5rem;
      font-family: "Baloo Chettan 2", cursive;
      background-color: #0575e6;
      color: white;
      border: none;
      outline: none;
      transition: all linear 0.1s;
      cursor: pointer; }
      .loginBox .inputBox .adminSubmit:hover {
        background-color: #00f260; }
      .loginBox .inputBox .adminSubmit:focus {
        background-color: #00f260; }

/*로그인 창 end*/
/*관리자 로그인 ID, PW end*/
.alertLogin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid #0575e6;
  box-sizing: border-box;
  /*닫기, 최소화버튼*/ }
  .alertLogin .alertLine {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #0575e6; }
    .alertLogin .alertLine .closeAlert {
      float: left;
      margin-left: 85%;
      width: 15%;
      height: 30px;
      color: white;
      text-align: center;
      cursor: pointer; }
  .alertLogin .alertDisc {
    width: 100%;
    height: 170px;
    padding: 10px;
    word-spacing: 1px; }

/*관리자 로그인 ID, PW end*/

/*# sourceMappingURL=adminLogin.css.map */
